# Include local gitconfig if it exists
[include]
    path = ./local.gitconfig
[user]
    name = Bertie690
    email = taylormw163@gmail.com
[pull]
    rebase = false
[fetch]
    all = true
[branch]
    autoSetupMerge = simple
[column]
    ui = auto column
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
# Custom filter to convert tabs to spaces (used when committing changes to global .gitconfig)
[filter "spacify"]
    clean = expand --tabs=4 --initial
[core]
    editor = code --wait --reuse-window
    autocrlf = false
    eol = lf
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = code
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool]
    prompt = false
[stash]
    showIncludeUntracked = true
    showPatch = true
[rerere]
    enabled = false
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[alias]
    # Shorthand aliases
    fp = push --force
    fixup = commit --amend --no-edit
    undo = "! git reset HEAD~${1:-1}; #"

    # Stage all hunks matching the provided regex.
    addgrep = "! REGEX=$1 shift && git diff -U1 -I -G\"$REGEX\" \
        | grepdiff --output-matching=hunk -E \"$REGEX\" \
        | git apply --cached"
    # Unstage all hunks matching the provided regex.
    rmgrep = "! REGEX=$1 shift && git diff --cached -I -G\"$REGEX\" \
        | grepdiff --output-matching=hunk -E \"$REGEX\" \
        | git apply --cached --reverse"

    # Get the target branch name (remote/path) of the upstream remote's default branch.
    # Currently only supports `upstream`/`origin` as valid names.
    get-default-branch = "! $XDG_CONFIG_HOME/git/gitscripts get_default_branch"
    # Squash all changes on your branch onto the provided HEAD (defaults to `get-default-branch`).
    squash-all = "! REMOTE=${1:-$(git get-default-branch)} shift && git reset --hard \"$REMOTE\" && git merge --squash --no-commit $@ HEAD@{1}"

    # Get the path to the main worktree.
    main-worktree = "! dirname \"$(git rev-parse --path-format=absolute --git-common-dir)\""

    # Symlink all ignored files in the given folder with the versions from the main worktree.
    # Intended for use to copy config files when creating a new `git` worktree.
    link-ignored = "! $XDG_CONFIG_HOME/git/gitscripts link_ignored"

    # Get all ignored files in the given folder.
    show-ignored = "ls-files --full-name -o --ignored --exclude-standard --"

    # List all branches that have changed the given files relative to the merge base.
    branches-touched = "! $XDG_CONFIG_HOME/git/gitscripts branches_touched"

    # List all files in the current repository in descending order of last commit date (oldest first).
    oldest = "! git ls-tree -r --name-only HEAD -z | TZ=UTC xargs -0 -I_ git --no-pager log -1 --date=iso-local --format='%ad _' -- _ | sort; #"
    # List all files in the current repository in ascending order of last commit date (newest first).
    newest = "! git ls-tree -r --name-only HEAD -z | TZ=UTC xargs -0 -I_ git --no-pager log -1 --date=iso-local --format='%ad _' -- _ | sort -r; #"
[http]
    cookiefile = /home/taylo/.gitcookies
