# Include local gitconfig if it exists
[include]
	path = ~/.local.gitconfig

[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Bertie690
	email = taylormw163@gmail.com
[core]
	editor = code --wait --reuse-window
	autocrlf = input
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = code
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool]
	prompt = false
[alias]
	fixup = "commit --amend --no-edit"
	get-upstream-remote = "!LC_ALL=C echo "upstream/$(git remote show upstream | sed -n '/HEAD branch/s/.*: //p')""
	squash-all = "! f() { git fetch && git reset --hard \"${1:-$(git get-upstream-remote)}\" && git merge --squash --no-commit HEAD@{1}; }; f"
