#!/usr/bin/env bash
# Config file for vars for the boostrap script.

# Associative array containing globs linking source folders to their corresponding target folders.
# All source paths will be interpreted relative to $DOTFILES_ROOT, and all target paths relative to $HOME.
#
# If a glob is specified as a source path, all matched files will be linked to the root of target.
# Otherwise, the target directory or file will be linked directly.
#
# Paths will be matched in reverse alphabetical order, and only the first match will be executed.
declare -A sources_to_targets=(
    ["links/.vscode-server/server-env-setup"]=".vscode-server/server-env-setup"
    ["links/**"]=""               # links/bash/.bashrc --> ~/.bashrc
    ["config/gh/**"]=".config/gh" # Move gh specific settings into config bc i can't change the dir
    ["config/**"]=".config"       #
)

# Array containing keys of sources_to_targets, sorted in reverse alphabetical order.
declare -a sources_order
readarray -t sources_order <<< "$(printf "%s\n" "${!sources_to_targets[@]}" | \
    sort --stable --reverse)"
