#! /bin/bash

# Custom git aliases!

# Shortcut to merge a branch into the current branch.
# Supports branch name as first argument, defaulting to the current branch's preset default if omitted.
function gm () {
    local branch;
    if [[ $# == 0 || $1 =~ ^- ]]; then
        branch="$(git get-default-branch)"
    else
        branch="$1"
        shift
    fi
    git merge --no-edit "$@" "$branch"
}

# Misc utilities
# Kill all stopped processes
alias killstopped='kill -9 $(jobs -p -s)'

# enable color support of ls and also add handy aliases
alias ls='ls --color=auto'
alias la='ls -a --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Add an "alert" alias for long running commands. Use like so:
# sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
