#! /usr/bin/env bash

# XDG env vars
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"

# Env variables for init
export VOLTA_HOME="$XDG_DATA_HOME/volta"
export POSH_CONFIG="$XDG_CONFIG_HOME/posh-config.json"

export EDITOR="code --wait --add"
export GH_DASH_CONFIG="$XDG_CONFIG_HOME/gh/gh-dash.yaml"
export PNPM_HOME="$XDG_DATA_HOME/pnpm"
export GOROOT=/usr/local/go
export GOPATH=$HOME/go

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Initialize toolchain env files if existing

# shellcheck disable=SC1091
if [ -f "$HOME/.cargo/env" ]; then source "$HOME/.cargo/env"; fi

# shellcheck disable=SC1091
if [ -f "$HOME/.ghcup/env" ]; then source "$HOME/.ghcup/env"; fi
